*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 0.1px dashed #868686;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(../assets/fonts/Roboto/Roboto-Regular.ttf);
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.3rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hrnet-logo {
  display: flex;
  align-items: center;
}

/** 
* Page CreateEmployee 
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* center children elements horizontally */
  flex: 1;
  color: white;
}

.bg-dark {
  background-color: #12002b;
}

a {
  display: inline-block;
  border-color: #00bc77;
  border: 0.1rem solid #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding: 1rem 1.4rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
  margin-top: 2rem;
  width: 30rem;

  &:hover {
    background-color: white;
    color: #00bc77;
  }
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
}

.button-save {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 10px;
  width: 30rem;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: #00bc77;
  }
}

form#create-employee {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}

.address {
  margin-top: 1.5rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 30rem;
}

.invalid-input {
  margin-top: 0.3rem;
  color: red;
}

/** 
* Page ListEmployees
*/

#list-employee-container {
  flex: 1;
}

#list-employee-container > a {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}


