.solid-sort {
  color: lighten(grey, 20%);
  font-size: 1.4rem;
}

.solid-sort-up,
.solid-sort-down {
  color: yellow;
  font-size: 1.5rem;
}

.dataTable-container {
  // background-color: lighten(lightgreen, 20%);
  overflow-x: auto;
}

.dataTable-container > h1 {
  text-align: center;
  padding: 2rem 0;
  color: white;
}

.dataTable-content {
  margin-left: 2rem;
  margin-right: 2rem;
}

table {
  border-collapse: collapse;
  min-width: 88.2rem;
  margin: 0 auto;
}

table > thead {
  color: white;
}

table > thead > tr > th {
  text-align: center;
  // font-size: 1.4rem;
}

table > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table > tbody > tr:nth-child(even) {
  background-color: white;
}

table > tbody > tr:nth-child(1) {
  border-top: 0.1rem solid black;
}

table > tbody > tr:last-child {
  border-bottom: 0.1rem solid black;
}

table > tbody > tr:hover {
  background-color: yellow;
}

th,
td {
  text-align: left;
  padding: 8px;
}

// filters
.filters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 1rem;
  max-width: 88.2rem;
  color: white;

  input[type="text"],
  select {
    font-size: 1.3rem;
    padding: 0;
  }

  .entries-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 2rem;

    label {
      margin: 0;
      margin-right: 0.5rem;
    }

    p {
      margin-left: 0.5rem;
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    label {
      margin: 0;
      margin-right: 0.5rem;
    }

    input[type="text"] {
      padding: 0.2rem;
      padding-right: 2rem;
    }

    .button-reset-search {
      font-size: 2rem;
      color: black;
      margin-left: -2rem;;
      cursor: pointer;
    }
  }
}
